body{
    background-color: #2d862d;
    font-family: Tahoma,Helvetica,sans-serif;
	}
#wrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	box-shadow:3px 3px 3px black;
}

header{
	background-color: darkgreen;
	height: 110px;
	background-image: url("images/landscaping logo.gif");
	background-size: 110px 110px;
	background-repeat: no-repeat;
}
main{
		background-color: #aee07f;
	}
h1{
	margin-bottom:0;
	margin-left: 120px;
	padding-top: 30px;
	font-size: 45px;
}

p{
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 40px;
}

img{
	padding-right: 20px;
}

#mainservicelist{
	margin-top: 0;
	margin-left: 250px;
}

footer{
	text-align: center;
	float: none;
}

nav{

	}
nav a{
	text-decoration:none;
	display:inline-block;
	padding: 14px 22px;
	color:white;
	text-align:center;
	}
nav li{
	display:inline;
	}
nav a:hover{
	background-color: #4CAF50;
	}
nav ul{
	list-style-type: none;
	overflow: hidden;
	margin:0;
	padding:0;
	background-color:#333;
	}
nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}
nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #4CAF50;
	}
nav li.dropdown {
    display: inline-block;
	}
	
li img{
		border-radius: 50%;
	}
.content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
	}
.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	}
.content a:hover {
	background-color: #f1f1f1
	}
.dropdown:hover .content {
    display: block;
	}

.active{
		background-color: #4CAF50;
	}
#land {
		float:right;
	}



#home1{
	margin: auto;
	color: white;
	background-color: darkgreen;
	background-image: url(images/homelawn.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	font-size: 40px;
	padding-left: 0;
}

#home1 h2{
	display: inline-block;
	margin-top: 0;
	font-size: 60px;
	background-color: lightgreen;
	color: green;
	margin-left: 50px;
}

#home1 h3{
	display: inline;
	margin-left: 50px;
	background-color: darkgray;
	margin-top: 0;
}

#home2{
	margin: auto;
	color: lightgray;
	background-color: darkgreen;
	height: 250px;
	font-size: 40px;
	padding-left: 0;
}

#home2 h2{
	margin-top: 0;
	margin: auto;
}


#mulch{
		list-style-type: none;
		font-weight: bold;
		line-height: 200%;
		font-size: 150%;
	}
#mulch p{
	font-weight: normal;
	line-height: 100%;
	font-size: 75%;
	padding-left: 155px;
	}

	@media only screen and (max-width: 768px){
		
	}
